<!-- <h2>
  ten cho: {{inputData}}
</h2>
<button (click)="addNewDog()">+</button>

<button>-</button> -->
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{inputData.name}}</mat-card-title>
    <mat-card-subtitle>{{inputData.inStock}}</mat-card-subtitle>
  </mat-card-header>
  <img style="height: 100px; width: 100px; border-radius: 50%;" mat-card-image src="{{inputData.photoDog}}"
    alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      {{inputData.price | number: '1.0-0'}}
      {{inputData.content}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="addNewDog(inputData.name)" mat-button>+</button>
    {{inputData.inStock}}
    <button mat-button>-</button>
    <button mat-button>s</button>
  </mat-card-actions>
</mat-card>